<!DOCTYPE html>
<html>
	<body>
		<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		{% include "bootstrap.html" %}
		</head>
		{% load static %}
		{% include "navigation.html" %}
		<h1> Tasks Page <h1>
			<div>
			<a href="{% url 'task-create' %}"> Add Task </a>
			<br>
			<a href="{% url 'task-category' %}"> Add Category</a>
			</div>
		<br>
		<br>
		
	<table>
		
		{% for task in tasks %}
		<tr>
			<td>
				{{ task.category }}
				<br>
				{{task.description}}
			 <a href="{% url 'task' task.id %}"> View</a>
			 <a href="{% url 'task-update' task.id %}"> Edit</a> 
			 <a href="{% url 'task-delete' task.id %}"> Delete</a> 
			 <a href="{% url 'category-delete' task.id %}"> Delete Category</a> 
			 

			</td>
		</tr>
		{% empty %}
			<h3> no items </h3>
		{% endfor %}
	</table>
	</body>
</html>