/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: black;
  margin: 0;
}

/* Header Section */
.header-section {
  background: url("/static/IMG/travel_site4.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  height: calc(100vh - 70px); /* Viewport Height - Header Height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-section h2 {
  font-size: 48px;
  margin: 0;
  color: white;
  text-shadow: 2px 2px #000;
}

.header-section p {
  font-size: 22px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px #000;
}

/* Services Section */
.services-section {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-item {
  background-color: #FFFFFF;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  text-align: center;
  margin: 20px;
  max-width: 400px;
  flex-basis: calc(33.33% - 40px); /* (100% / 3) - (margin * 2) */
  transition: all 0.2s ease-in-out;
}

.service-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);
}

.service-item h3 {
  font-size: 24px;
  margin: 0 0 10px 0;
  color: #333;
  text-shadow: 1px 1px #fff;
}

.service-item p {
  font-size: 16px;
  margin: 0;
  color: #555;
}

/* Footer Section */
footer {
  background-color: #333;
  color: white;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}