<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      {% if user.is_authenticated %}
       <li>
        <a class="nav-link" href="/logout/">Logout ({{user.username}})</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'budgets' %}">Budget</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin" target="_blank">Admin</a>
      </li>
        {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tasks' %}">Contact Us</a>
      </li>
      <li class="nav-item">  
        <a class="nav-link" href="{% url 'index1' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}" >Login</a>
      </li>
  </div>
</nav>
