<html>
	<body>
		<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		{% include "bootstrap.html" %}
		</head>
		{% include "navigation.html" %}
		<div class="container">
      <h2>About Page</h2>
      <div class="jumbotron, margin">
        <h2>Fabian Garcia</h2>
        <div class="jumbotron, margin">
        <h5>
        	My name is Fabian Garcia, and I am a student at CSU,Chico. I am originally from Stamford Connecticut, but have been living in California for several years. I am a computer science student ,and some of my hobbies include disc golfing, camping, fishing , and riding my motorcycle. 
        </h5>
      </div>
        <div class="row">
          <div class="col-4-lg">
            
          </div>
          </div>
        </div>
      </div>
    </div>
	</body>    	
</html>


















	</body>
</html>