<html>
		<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		{% load static %}

		{% include "bootstrap.html" %}
		{% include "navigation.html" %}
		<link rel="stylesheet" href="{% static 'CSS/todo_style.css' %}">
		<div class="container-fluid bg-1 text-center">
			<h3>About Me</h3>
       <img src="{% static 'IMG/fabian.jpg' %}"  class="img-circle" alt="Image" width="200px" height="200px">
		</head>

	<body>	

     </div>
     <br>
     <div class="container-fluid bg-2 text-center">
     	<h3> About Fabian </h3>
        <h3>
        	My name is Fabian Garcia, and I am a student at CSU,Chico. I am originally from Stamford Connecticut, but have been living in California for several years. I am a computer science student ,and some of my hobbies include disc golfing, camping, fishing , and riding my motorcycle. 
        </h3>
     </div> 
     <br>  
    <div class="container-fluid bg-3 text-center">
    	<h3> Project 1 </h3>
    	<h3> How it was done / Conclusions </h3>
        <h3>
        	I started out by following the "suggested plan of attack". I decided to use django generic views, this was very useful but also complicated a few things. One of the road blocks I ran into was calculating the Budget surplus/deficit. I overcame this by aggregating data from get_context_data object. Overall, chartist.js was easy to implement, once again I just had some trouble passing information in from the view to the template. I did something similar to what I did for Budget surplus/deficit. For my styling, I learned and implemented some bootstrap/css. I learned to use and include django crispy forms, to help style my forms nice. 
        </h3>
     </div>        
	</body>    	
</html>






