@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

    .card {
      border: none;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
    }

    .card:hover {
      transform: translateY(-5px);
    }
body {
font-family: 'Roboto', sans-serif;
font-size: 20px;
color: black;
margin: 0;
}

.container-fluid {
background-color: #F7F7F7;
}

h1 {
font-size: 3rem;
font-weight: 70;
text-transform: uppercase;
margin-top: 3rem;
margin-bottom: 2rem;
}

.fleet-list {
list-style: none;
margin: 0;
padding: 0;
}

.fleet-section {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
background-color: white;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
border-radius: 10px;
padding: 2rem;
margin-bottom: 2rem;
}

.fleet-section-title {
margin-top: 0;
font-size: 2.5rem;
font-weight: 70;
text-transform: uppercase;
margin-bottom: 1rem;
}

.fleet-section-description {
margin-top: 1rem;
font-size: 1.2rem;
line-height: 1.5;
margin-bottom: 1rem;
}

.fleet-section-image {
max-width: 100%;
height: auto;
margin-top: 2rem;
margin-bottom: 2rem;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.fleet-section-details {
list-style: none;
margin-top: 2rem;
padding: 0;
}

.fleet-section-details li {
margin: 1rem 0;
font-size: 1.2rem;
line-height: 1.5;
display: flex;
align-items: center;
}

.fleet-section-details li svg {
margin-right: 1rem;
}

.btn {
background-color: black;
color: white;
border: none;
border-radius: 5px;
padding: 1rem 2rem;
margin-right: 1rem;
margin-bottom: 1rem;
cursor: pointer;
}

.btn:focus {
outline: none;
}

.btn.active {
background-color: white;
color: black;
}

.collapse.show {
display: block;
}

@media (min-width: 768px) {
.d-flex.flex-row {
flex-direction: row;
}

.p-4 {
flex: 0 0 25%;
max-width: 25%;
padding: 1rem;
box-sizing: border-box;
}

.container.my-5 {
flex: 0 0 75%;
max-width: 75%;
}
}