input {
  text-align: center;
  width: 48px;
  height: 48px;
  font-size: 24px;
}
input[type="text"]:enabled:hover {
  background-color: yellow;
}
.bg-1 {
   background-color: #C0C0C0; 
    color: #808080;
}
.bg-2 {
   background-color: #474e5d; 
    color: #808080;
}
.bg-3 {
   background-color: #0000FF; 
    color: #808080;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}    